@import 'tailwindcss' theme(static);
@import '@nuxt/ui';
@tailwind utilities;

body {
    background-color: #231F20;
}

:root {
    --ui-bg: var(--color-bg);
}

@theme static {
    --color-primary: #7EBDC2;
    --color-secondary: #BB4430;
    --color-bg: #231F20;

    --font-rawr: 'Pacifico', cursive;
}
